importFrom("methods", "show")
importFrom("stats4", "plot")
importClassesFrom("Biobase", "NChannelSet", "eSet", "VersionedBiobase", "Versioned")
importFrom("vsn", "meanSdPlot")
importFrom("prada", "devDims", "plotPlate", "devRes")
importFrom("graphics", "lines")
import("grid")

importFrom("GSEABase", "GeneSetCollection", "incidence")
importMethodsFrom("GSEABase", "geneIds")

importFrom("Category", "applyByCategory")

exportClasses("cellHTS", "ROC")

export("oneRowPerId", 
       "Bscore",
       "buildCellHTS2",
       "channelNames<-",
       "configurationAsScreenPlot",
       "convertOldCellHTS",
       "convertWellCoordinates",
       "getAlphaNumeric",
       "getEnVisionRawData",
       "getEnVisionCrosstalkCorrectedData",
       "getDynamicRange",
       "getMeasureRepAgreement",
       "getTopTable",
       "getSettings",
       "getZfactor",
       "gseaModule",
       "imageScreen",
       "normalizePlates",
       "plotSpatialEffects",
       "readPlateList",
       "readHTAnalystData",
       "rsa",
       "scores2calls",
       "scoreReplicates",
       "setSettings",
       "spatialNormalization",
       "summarizeChannels",
       "summarizeReplicates",
       "templateDescriptionFile",
       "updateCellHTS",
       "writeReport",      
       "write.tabdel")

exportMethods("annotate",
       "batch",
       "batch<-",
       "channelNames<-",
       "compare2cellHTS",
       "coerce",
       "configure",
       "Data",
       "Data<-",
       "geneAnno",
       "initialize",
       "intensityFiles",
       "lines",
       "meanSdPlot",
       "name",
       "name<-",
       "nbatch",
       "pdim",
       "plate",
       "plateConf",
       "plateEffects",
       "plateList",
       "plot",
       "position",
       "ROC",
       "screenDesc",
       "screenLog",
       "show",
       "state",
       "well",
       "wellAnno",
       "writeTab")

